credentials/
vendor/kubespray/artifacts/
vendor/kubespray/credentials/

.kube/
.shell-env/
.tox/
contrib/packer/packer_cache/
contrib/packer/*.log
docs/_build/
docs/*.jar

ansible.cfg
inventories/
inventory/
**/*.retry

**/*~
**/*.swp
**/*.pyc
**/*.bak
**/__pycache__/
