_build/
__pycache__/

.mypy_cache/
.vagrant/
.tox/

buildchain/.venv/

.doit.db

*.pyc
*.log

junit/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Buildchain artifacts
/_build/
