
/* Set base font size to achieve responsive font */
html { font-size: max(14px, calc(0.2em + 0.8vw)); } 

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.main {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Lato-Regular */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: local(''),
    url('../public/brand/assets/fonts/lato/Lato-Regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../public/brand/assets/fonts/lato/Lato-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Lato-Bold */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  src: local(''),
    url('../public/brand/assets/fonts/lato/Lato-Bold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../public/brand/assets/fonts/lato/Lato-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
