version: 0.1

log:
  fields:
    service: registry

storage:
  cache:
    blobdescriptor: inmemory

http:
  addr: 127.0.0.1:5000
  headers:
    X-Content-Type-Options: [nosniff]

health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3

auth:
  token:
    realm: 'https://{{ repository__address }}/auth'
    service: 'Docker registry'
    issuer: 'MetalK8s Docker auth server'
    rootcertbundle: '/etc/metalk8s/repository/pki/server.crt'
