apiVersion: v1
kind: ConfigMap
metadata:
  name: job-setup-configmap
  labels:
    app: kibana-job-setup
data:
  provision-index.sh: |-
    {{ lookup('file', role_path ~ '/files/kibana/provision-index.sh') | indent(8) }}

