apiVersion: batch/v1
kind: Job
metadata:
  name: provision-kibana-index
  labels:
    app: kibana-job-setup
spec:
  template:
    metadata:
      name: job-setup-configmap
    spec:
      containers:
        - name: kibana-job-setup
          image: appropriate/curl
          command: ['sh', '/scripts/provision-index.sh']
          volumeMounts:
            - name: job-setup-configmap
              mountPath: /scripts
      restartPolicy: OnFailure
      volumes:
        - name: job-setup-configmap
          configMap:
            name: job-setup-configmap
