apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana-index-provisioning
  labels:
    app: kibana
    heritage: MetalK8s
    component: index-provisioning
data:
  index.pattern: {{ kibana_index_pattern }}
  provision-index.sh: |-
    {{ lookup('file', role_path ~ '/files/kibana/provision-index.sh') | indent(8) }}
