apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ item.key }}
  annotations:
    storageclass.kubernetes.io/is-default-class: '{{ item.value.is_default|default(False)|string|lower }}'
provisioner: kubernetes.io/no-provisioner
reclaimPolicy: Retain
volumeBindingMode: WaitForFirstConsumer
