apiVersion: v1
kind: PersistentVolume
metadata:
  name: >-
    {{ item.value.vg|replace("_","-") }}-{{ item.value.volume.uuid }}
spec:
  capacity:
    storage: '{{ item.value.volume.size|size_lvm_to_k8s }}'
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: '{{ item.value.storage_class }}'
  local:
    path: '{{ item.value.host_path }}/{{ item.value.volume.uuid }}'
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - '{{ ansible_nodename }}'
