# Source: exporter-node/templates/endpoints.yaml
apiVersion: v1
kind: Endpoints
metadata:
  labels:
    app: exporter-node
    component: node-exporter
    release: "exporter-node"
    chart: exporter-node-0.4.0
  name: kube-prometheus-exporter-node
subsets:
  - addresses:
{% for node in groups.etcd|union(groups['k8s-cluster']) %}
      - ip: {{ hostvars[node].ansible_default_ipv4.address }}
{% endfor %}
    ports:
      - name: metrics
        port: 9100
        protocol: TCP
