.theme-body {
  text-align: center;
  background-color: #FFFFFF;
  color: #313B44;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.theme-navbar {
  background-color: #FFFFFF;
  color: #313B44;
  font-size: 13px;
  font-weight: 100;
  height: 46px;
  overflow: hidden;
  padding: 0 10px;
}

.theme-navbar__logo-wrap {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  padding: 10px 15px;
  width: 300px;
}

.theme-navbar__logo {
  height: 100%;
  max-height: 25px;
}

.theme-heading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
  color: #313B44;
}

.theme-panel {
  display: inline-block;
  text-align: center;
  background-color:#FAF9FB;
  padding: 30px;
  width: 500px;
}

.theme-btn-provider {
  background-color: #607080;
  color: #FFFFFF;
  min-width: 250px;
}

.theme-btn-provider:hover {
  background-color: #798a9a;
  color: #FFFFFF;
}

.theme-btn--primary {
  background-color: #057AFF;
  border: none;
  color: #fff;
  min-width: 250px;
  padding: 6px 12px;
  height: 36px;
  border-radius: 4px;
}

.theme-btn--primary:hover {
  background-color: #3695ff;
  color: #fff;
}

.theme-btn--success {
  background-color: #2FC98E;
  color: #fff;
  width: 250px;
}

.theme-btn--success:hover {
  background-color: #49E3A8;
}

.theme-form-row {
  display: block;
  margin: 20px auto;
}

.theme-form-input {
  border-radius: 4px;
  border: 1px solid #A5A5A5;
  box-shadow: inset 0 1px 1px rgba(87, 66, 66, 0.075);
  color: #313B44;
  display: block;
  font-size: 14px;
  height: 36px;
  line-height: 1.42857143;
  margin: auto;
  padding: 6px 12px;
  width: 250px;
  background-color: #EDEAF0;
}

.theme-form-input:focus,
.theme-form-input:active {
  border-color: #66AFE9;
  outline: none;
}

.theme-form-label {
  font-size: 13px;
  font-weight: 600;
  margin: 4px auto;
  position: relative;
  text-align: left;
  width: 250px;
  color:#313B44;
}

.theme-link-back {
  margin-top: 4px;
}
