export PATH=$PATH:/usr/local/bin
export ETCDCTL_CA_FILE={{ etcd_base_dir }}/ca.pem
export ETCDCTL_KEY_FILE={{ etcd_base_dir }}/admin-{{ inventory_hostname }}-key.pem
export ETCDCTL_CERT_FILE={{ etcd_base_dir }}/admin-{{ inventory_hostname }}.pem
export ETCDCTL_ENDPOINTS='{{ etcd_access_addresses }}'
