master: {{ master_hostname }}
id: {{ minion_id }}

retry_dns_count: 5
enable_fqdns_grains: false

grains_cache: true

# use new module.run format
use_superseded:
  - module.run

log_level_logfile: {{ 'debug' if debug else 'info' }}

saltenv: {{ saltenv }}
