master: {{ master_hostname }}
id: {{ minion_id }}

retry_dns_count: 5

# use new module.run format
use_superseded:
  - module.run

log_level_logfile: info

saltenv: {{ saltenv }}

# Prepare volume at startup (required for loop devices persistency).
startup_states: sls
sls_list:
  - /metalk8s/volumes/prepared
