interface: {{ salt_ip }}

log_level: 'debug'

timeout: {{ timeout }}
sock_pool_size: 15
worker_threads: {{ worker_threads}}

peer:
  .*:
    - x509.sign_remote_certificate

# Enable grains caching on salt-master
grains_cache: True

# We now run salt-master on Rocky Linux, but it is not yet fully supported by
# SaltStack 3002, so we emulate it runs on CentOS, as before. This should be
# removed with SaltStack 3004.
grains:
  os_family: RedHat
  os: CentOS

# We use information from the `metalk8s_node` ext_pillar to match in
# `pillar/top.sls`, hence we need to load them first.
ext_pillar_first: true
ext_pillar:
  - metalk8s: /etc/metalk8s/bootstrap.yaml
  - metalk8s_endpoints: {{ kubeconfig }}
  - metalk8s_nodes: {{ kubeconfig }}
  - metalk8s_private: {}
  - metalk8s_solutions: {}
  - metalk8s_etcd: {}

# Set default roster to kubernetes
roster: kubernetes

# Globally disable SSH host key checks
no_host_keys: true

rest_cherrypy:
  port: 4507
  host: {{ salt_ip }}
  debug: {{ debug }}
  ssl_crt: {{ salt_api_ssl_crt }}
  ssl_key: /etc/salt/pki/api/salt-api.key
  ssl_chain: /etc/kubernetes/pki/ca.crt

external_auth:
  kubernetes_rbac:
    ^kubeconfig: {{ kubeconfig }}
    node-admins%:
      - '*':
        - '.*'
      - '@wheel'
      - '@runner'
      - '@jobs'
    'system:serviceaccount:kube-system:storage-operator-controller-manager':
      - '*':
        - 'metalk8s_volumes.device_info'
        - 'metalk8s_volumes.device_name'
        - 'state.sls':
            kwargs:
              mods: 'metalk8s\.volumes.*'
      - '@jobs'

# `kubeconfig` file and `context` used by salt to interact with apiserver
kubernetes.kubeconfig: {{ kubeconfig }}
{%- if kubecontext is defined and kubecontext %}
kubernetes.context: {{ kubecontext }}
{%- endif %}

reactor:
  - 'salt/beacon/*/metalk8s_watch_certificates_expiry/':
    - salt://metalk8s/reactor/certs/renew.sls?saltenv={{ saltenv }}
  - 'salt/beacon/*/metalk8s_watch_kubeconfig_expiry/':
    - salt://metalk8s/reactor/certs/renew.sls?saltenv={{ saltenv }}

netapi_enable_clients:
  - local
  - local_async
  - runner

features:
  x509_v2: true
