file_roots:
  metalk8s-{{ metal_version }}:
    - /srv/scality/metalk8s-2.0/salt
pillar_roots:
  metalk8s-{{ metal_version }}:
    - /srv/scality/metalk8s-2.0/pillar
peer:
  .*:
    - x509.sign_remote_certificate
