interface: {{ salt_ip }}

peer:
  .*:
    - x509.sign_remote_certificate

# We use information from the `metalk8s_node` ext_pillar to match in
# `pillar/top.sls`, hence we need to load them first.
ext_pillar_first: true
ext_pillar:
  - metalk8s: /etc/metalk8s/bootstrap.yaml
  - metalk8s_endpoints: /etc/kubernetes/admin.conf
  - metalk8s_nodes: /etc/kubernetes/admin.conf
  - metalk8s_private: {}

roster_defaults:
  minion_opts:
    use_superseded:
      - module.run

# Globally disable SSH host key checks
no_host_keys: true

rest_cherrypy:
  port: 4507
  host: {{ salt_ip }}
  disable_ssl: true

external_auth:
  kubernetes_rbac:
    ^kubeconfig: /etc/kubernetes/admin.conf
    node-admins%:
      - '*':
        - '.*'
      - '@wheel'
      - '@runner'
      - '@jobs'
