peer:
  .*:
    - x509.sign_remote_certificate

ext_pillar:
  - metalk8s: /etc/metalk8s/bootstrap.yaml
  - metalk8s_nodes: /etc/kubernetes/admin.conf

roster_defaults:
  minion_opts:
    use_superseded:
      - module.run

rest_cherrypy:
  port: 4507
  host: {{ salt_api_ip }}
  disable_ssl: true

external_auth:
  kubernetes_rbac:
    ^kubeconfig: /etc/kubernetes/admin.conf
    node-admins%:
      - '*':
        - '.*'
      - '@wheel'
      - '@runner'
      - '@jobs'
