file_roots:
  {{ saltenv }}:
    - {{ iso_root_path }}/salt
pillar_roots:
  {{ saltenv }}:
    - {{ iso_root_path }}/pillar
peer:
  .*:
    - x509.sign_remote_certificate

ext_pillar:
  - metalk8s: /etc/metalk8s/bootstrap.yaml

roster_defaults:
  minion_opts:
    use_superseded:
      - module.run
