{%- from "metalk8s/repo/macro.sls" import build_image_name with context -%}

apiVersion: v1
kind: Pod
metadata:
  name: salt-master
  namespace: kube-system
  labels:
    app: salt-master
    app.kubernetes.io/name: salt-master
    app.kubernetes.io/version: '{{ salt_master_version }}'
    app.kubernetes.io/component: salt
    heritage: metalk8s
    app.kubernetes.io/part-of: metalk8s
    app.kubernetes.io/managed-by: salt
  annotations:
    metalk8s.scality.com/config-digest: '{{ config_digest }}'
spec:
  hostNetwork: true
  priorityClassName: system-cluster-critical
  securityContext:
    runAsUser: 0
    fsGroup: 0
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  containers:
    - name: salt-master
      image: {{ build_image_name(salt_master_image, salt_master_version) }}
      args: ['--log-level=info']
      ports:
        - name: publisher
          containerPort: 4505
          protocol: TCP
        - name: requestserver
          containerPort: 4506
          protocol: TCP
      livenessProbe:
        exec:
          command:
          - pgrep
          - salt-master
        periodSeconds: 10
        initialDelaySeconds: 5
      readinessProbe:
        exec:
          command:
          - salt-run
          - event.send
          - test
        periodSeconds: 20
        timeoutSeconds: 2
        initialDelaySeconds: 10
      volumeMounts:
        - name: config
          mountPath: '/etc/salt'
        - name: cache
          mountPath: '/var/cache/salt'
        - name: run
          mountPath: '/var/run/salt'
        - name: states
          mountPath: '{{ iso_root_path }}/salt'
          readOnly: true
        - name: pillar
          mountPath: '{{ iso_root_path }}/pillar'
          readOnly: true
        - name: metalk8s-config
          mountPath: '/etc/metalk8s'
          readOnly: true
        - name: kubernetes-config
          mountPath: '/etc/kubernetes'
          readOnly: true
    - name: salt-api
      image: {{ build_image_name(salt_master_image, salt_master_version) }}
      command: ['/tini']
      args: ['salt-api', '--', '--log-level=info']
      ports:
        - name: api
          containerPort: 4507
          protocol: TCP
      livenessProbe:
        httpGet:
          path: /
          port: api
          host: {{ salt_ip }}
      readinessProbe:
        httpGet:
          path: /
          port: api
          host: {{ salt_ip }}
      volumeMounts:
        - name: config
          mountPath: '/etc/salt'
          readOnly: true
        - name: run
          mountPath: '/var/run/salt'
  volumes:
    - name: config
      hostPath:
        path: '/etc/salt'
        type: Directory
    - name: cache
      hostPath:
        path: '/var/cache/salt'
        type: Directory
    - name: run
      hostPath:
        path: '/var/run/salt'
        type: Directory
    - name: states
      hostPath:
        path: '{{ iso_root_path }}/salt'
        type: Directory
    - name: pillar
      hostPath:
        path: '{{ iso_root_path }}/pillar'
        type: Directory
    - name: metalk8s-config
      hostPath:
        path: '/etc/metalk8s'
        type: Directory
    - name: kubernetes-config
      hostPath:
        path: '/etc/kubernetes'
        type: Directory
