apiVersion: v1
kind: Pod
metadata:
  annotations:
    metalk8s.scality.com/config-digest: "{{ config_digest }}"
  creationTimestamp: null
  labels:
    component: {{ name }}
    tier: "control-plane"
    metalk8s.scality.com/version: {{ metalk8s_version }}
  name: {{ name }}
  namespace: "kube-system"
spec:
  containers:
    - name: {{ name }}
      image: {{ image_name }}
      imagePullPolicy: IfNotPresent
      command:
      {%- for part in command %}
        - {{ part }}
      {%- endfor %}
      livenessProbe:
        failureThreshold: 8
        httpGet:
          host: 127.0.0.1
          path: /health?exclude=NOSPACE&serializable=true
          port: http-metrics
          scheme: HTTP
        initialDelaySeconds: 10
        periodSeconds: 10
        timeoutSeconds: 15
      startupProbe:
        failureThreshold: 24
        httpGet:
          host: 127.0.0.1
          path: /health?serializable=false
          port: http-metrics
          scheme: HTTP
        initialDelaySeconds: 10
        periodSeconds: 10
        timeoutSeconds: 15
      ports:
        - name: http-metrics
          containerPort: 2381
      resources:
        requests:
          cpu: 100m
          memory: 100Mi
      volumeMounts:
        {%- for volume in volumes %}
        - mountPath: {{ volume.path }}
          name: {{ volume.name }}
          readOnly: {{ volume.get("readOnly", false) }}
        {%- endfor %}
  hostNetwork: true
  priorityClassName: "system-node-critical"
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  volumes:
    {%- for volume in volumes %}
    - hostPath:
        path: {{ volume.path }}
        type: {{ volume.get("type", "Directory") }}
      name: {{ volume.name }}
    {%- endfor %}
status: {}
