apiVersion: v1
kind: Pod
metadata:
  annotations:
    metalk8s.scality.com/config-digest: "{{ config_digest }}"
  creationTimestamp: null
  labels:
    component: {{ name }}
    tier: "control-plane"
    metalk8s.scality.com/version: {{ metalk8s_version }}
  name: {{ name }}
  namespace: "kube-system"
spec:
  containers:
  - command:
    {%- for part in command %}
      - {{ part }}
    {%- endfor %}
    image: {{ image_name }}
    imagePullPolicy: IfNotPresent
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /livez
        port: http-metrics
        scheme: HTTP
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 15
    name: {{ name }}
    ports:
    - containerPort: 2381
      name: http-metrics
      protocol: TCP
    readinessProbe:
      failureThreshold: 3
      httpGet:
        host: 127.0.0.1
        path: /readyz
        port: http-metrics
        scheme: HTTP
      periodSeconds: 1
      timeoutSeconds: 15
    resources:
      requests:
        cpu: 100m
        memory: 100Mi
    startupProbe:
      failureThreshold: 24
      httpGet:
        host: 127.0.0.1
        path: /readyz
        port: http-metrics
        scheme: HTTP
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 15
    volumeMounts:
      {%- for volume in volumes %}
      - mountPath: {{ volume.path }}
        name: {{ volume.name }}
        readOnly: {{ volume.get("readOnly", false) }}
      {%- endfor %}
  hostNetwork: true
  priority: 2000001000
  priorityClassName: "system-node-critical"
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  volumes:
    {%- for volume in volumes %}
    - hostPath:
        path: {{ volume.path }}
        type: {{ volume.get("type", "Directory") }}
      name: {{ volume.name }}
    {%- endfor %}
status: {}
