#!jinja|yaml

# Defaults for configuration of Ingress Controller
apiVersion: addons.metalk8s.scality.com/v1alpha2
kind: IngressControllerConfig
spec:
  config:
    allow-snippet-annotations: 'true'
    annotations-risk-level: 'Critical'
    hide-headers: 'Server,X-Powered-By'
    ssl-ciphers: 'EECDH+AESGCM:EDH+AESGCM'
    ssl-protocols: 'TLSv1.2 TLSv1.3'
    location-snippet: |
      proxy_set_header traceparent "";
      proxy_set_header tracestate "";
