.. toctree::
   :maxdepth: 2
   :caption: Contents:

   installation/index
   operation/index
{%- if metadata.mode == "development" or metadata.on_readthedocs %}
   developer/index
{%- endif %}
   glossary
