/* From https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html */
/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
        /* !important prevents the common CSS stylesheets from overriding
            this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
    }

    .wy-table-responsive {
        overflow: visible !important;
    }
}

/* Fixes for ugly field lists, especially on Chrome */
dl.field-list > dt {
    background-color: #ffd1c6;
    word-break: unset;
}
dl.field-list > dd pre {
    text-align: left;
    white-space: pre-wrap;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* ReadTheDocs specific fixes for field lists */
html.writer-html5 .rst-content dl.field-list > dt {
    background: none;
}

html.writer-html5 .rst-content dl.field-list > dd pre {
    text-align: left;
    white-space: pre-wrap;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
