apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: calico-node
  name: calico-node
spec:
  clusterIP: None
  ports:
  - name: metrics
    port: 9091
    protocol: TCP
    targetPort: 9091
  selector:
    k8s-app: calico-node
  type: ClusterIP
