{% import_yaml 'metalk8s/defaults.yaml' as defaults with context %}
{% import_json 'metalk8s/versions.json' as versions with context %}

{# First merge the basic defaults with versions information #}
{% set version_defaults = {
  'kubernetes': versions.kubernetes,
  'repo': {
    'packages': versions.packages,
    'images': versions.images,
  },
} %}

{% set defaults = salt['grains.filter_by']({
  'default': defaults,
}, merge=version_defaults) %}

{# Then merge with pillar overrides #}
{% set defaults = salt['grains.filter_by']({
  'default': defaults
}, merge=pillar) %}

{% set metalk8s = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('metalk8s')) %}

{% set kubernetes = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('kubernetes')) %}

{% set kubeadm_preflight = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('kubeadm_preflight')) %}

{% set repo = salt['grains.filter_by']({
  'RedHat': {
    'containerd': {
      'name': 'epel'
    },
    'kubernetes': {
      'name': 'kubernetes'
    }
  },
}, merge=defaults.get('repo')) %}

{% set networks = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('networks')) %}

{% set runc = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('runc')) %}

{% set containerd = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('containerd')) %}

{% set kubelet = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('kubelet')) %}

{% set ca = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('ca')) %}

{% set kube_api = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('kube_api')) %}

{% set etcd = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('etcd')) %}

{% set front_proxy = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('front_proxy')) %}

{% set coredns = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('coredns')) %}

{% set kubeadm_kubeconfig = salt['grains.filter_by']({
  'default': {}
}, merge=defaults.get('kubeadm_kubeconfig')) %}
