apiVersion: v1
kind: Namespace
metadata:
  name: '{{ kube_prometheus_namespace }}'
---
apiVersion: v1
kind: Secret
metadata:
  name: kube-prometheus-exporter-kube-etcd
type: kubernetes.io/tls
data:
  tls.crt: '{{ etcd_exporter_cert_content.content }}'
  tls.key: '{{ etcd_exporter_key_content.content }}'
